
<div id="videoblock" class="product-block{% unless product.available %} sold-out{% endunless %}{% if on_sale %} on-sale{% endif %} caption-{{ section.settings.coll_captionmode }} layout-right {{ product_class }}" data-loop-index="{{forloop.index}}">

    <video id="collection-video" autoplay loop>
    	<source src={{'Collection_page_video.mp4' | asset_url}} type="video/mp4">
      	<img id="placeholder" src={{'video-not-available.png' | asset_url}} title="Your browser does not support the <video> tag" />
    </video>
</div>

{% if product_class contains 'quarter' %}
    {% cycle 'products': '','','','<div class="er"></div>' %}
    {% cycle 'products': '','','','<div class="er"></div>' %}

{% endif %}
