<div class="page-footer">
{% comment %}  {% if section.settings.link_list != blank %}
  <div class="nav footer-nav">
    <ul>
      {% for link in linklists[section.settings.link_list].links %}
      <li>{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}{% endcomment %}
  
  {% include 'social-links' %}

  <div class="copyright" role="contentinfo">


    <div class="sh-footer-left">
        <span class="shop">&copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/'  }} - </span> <a href="/pages/contact">Contact Us</a>

    </div>
    <div class="sh-footer-right">
        <a href="/pages/returns">Returns</a> | 
        <a href="/pages/about">About Somi</a> |
        <a class="careers" href="/pages/careers">Careers</a>
    </div>

</div>

</div>


<div id="sh-size-guide">

    <div class="popup-close">&#10540;</div>

    <img class="black-ban" src="{{'size_g_img1.jpg' | asset_img_url: '146x49' }}" alt="">

    <h1>SOMI // SIZE CONVERSION</h1>

    <h2>Somi /Ready to wear sizes</h2>
    <div class="table-responsive ready-2-wear">
      <table class="table table-striped"> 
        <tbody> 
          <tr> 
            <th scope="row">US
            </th> 
            <td>00
            </td> 
            <td>0
            </td> 
            <td>2-4
            </td>
            <td>4-6
            </td> 
            <td>8
            </td> 
            <td>10
            </td>
            <td>12
            </td> 
            <td>14
            </td>
        </tr> 
        <tr> 
            <th scope="row">UK
            </th> 
            <td>4
            </td>
            <td>6
            </td> 
            <td>8
            </td> 
            <td>10
            </td>
            <td>12
            </td> 
            <td>14
            </td> 
            <td>16
            </td>
            <td>18
            </td>
        </tr> 
        <tr> 
            <th scope="row">ITALY
            </th> 
            <td>36
            </td> 
            <td>38
            </td> 
            <td>40
            </td> 
            <td>42
            </td>
            <td>44
            </td> 
            <td>46
            </td> 
            <td>48
            </td>
            <td>50
            </td>
        </tr> 
        <tr> 
            <th scope="row">FRANCE
            </th> 
            <td>32
            </td>
            <td>34
            </td> 
            <td>36
            </td> 
            <td>38
            </td>
            <td>40
            </td> 
            <td>42
            </td> 
            <td>44
            </td>
            <td>46
            </td> 
        </tr> 
        <tr> 
            <th scope="row">DENMARK
            </th> 
            <td>30
            </td>
            <td>32
            </td> 
            <td>34
            </td> 
            <td>36
            </td>
            <td>38
            </td> 
            <td>40
            </td> 
            <td>42
            </td>
            <td>44
            </td> 
        </tr> 
        <tr> 
            <th scope="row">RUSSIA
            </th> 
            <td>38
            </td>
            <td>40
            </td> 
            <td>42
            </td> 
            <td>44
            </td>
            <td>46
            </td> 
            <td>48
            </td> 
            <td>50
            </td>
            <td>52
            </td>
        </tr>
        <tr> 
            <th scope="row">GERMANY
            </th> 
            <td>30
            </td>
            <td>32
            </td> 
            <td>34
            </td> 
            <td>36
            </td>
            <td>38
            </td> 
            <td>40
            </td> 
            <td>42
            </td>
            <td>44
            </td>
        </tr> 
        <tr> 
            <th scope="row">AUSTRALIA
            </th> 
            <td>4
            </td>
            <td>6
            </td> 
            <td>8
            </td> 
            <td>10
            </td>
            <td>12
            </td> 
            <td>14
            </td> 
            <td>16
            </td>
            <td>18
            </td>
        </tr> 
        <tr> 
            <th scope="row">JAPAN
            </th> 
            <td>3
            </td>
            <td>5
            </td> 
            <td>7
            </td> 
            <td>9
            </td>
            <td>11
            </td> 
            <td>13
            </td> 
            <td>15
            </td>
            <td>17
            </td>
        </tr> 
        <tr> 
            <th scope="row">JEANS
            </th> 
            <td>23
            </td>
            <td>24-25
            </td> 
            <td>26-27
            </td> 
            <td>27-28
            </td>
            <td>29-30
            </td> 
            <td>31-32
            </td> 
            <td>32-33
            </td>
            <td>
            </td>
        </tr>

    </tbody> 
</table>
</div>
<div class="black-line ready-2-wear"> </div>

<div class="table-responsive ready-2-wear2">
  <table class="table table-striped"> 
    <tbody> 
      <tr> 
        <th scope="row" class="sh-hidden">
            abcdefghijk
        </th> 
        <td>XXS
        </td>
        <td>XXS-XS
        </td> 
        <td>XS-S
        </td> 
        <td>S-M
        </td>
        <td>M-L
        </td> 
        <td>L-XL
        </td> 
        <td>
        </td>
        <td>
        </td>
    </tr>
</tbody> 
</table>
</div>

<div class="red-line ready-2-wear2"> </div>

<h2>Somi /Shoe & boot sizes</h2>
<div class="table-responsive shoe-boot">
  <table class="table table-striped"> 
    <tbody> 
      <tr> 
        <th scope="row">US
        </th> 
        <td>4
        </td> 
        <td>4.5
        </td> 
        <td>5
        </td>
        <td>5.5
        </td> 
        <td>6
        </td> 
        <td>6.5
        </td> 
        <td>7
        </td>
        <td>7.5
        </td> 
        <td>8
        </td>
        <td>8.5
        </td> 
        <td>9
        </td> 
        <td>9.5
        </td>
        <td>10
        </td> 
    </tr> 
    <tr> 
        <th scope="row">UK
        </th> 
        <td>1
        </td> 
        <td>1.5
        </td> 
        <td>2
        </td>
        <td>2.5
        </td> 
        <td>3
        </td> 
        <td>3.5
        </td>
        <td>4
        </td> 
        <td>4.5
        </td>
        <td>5
        </td> 
        <td>5.5
        </td> 
        <td>6
        </td>
        <td>6.5
        </td> 
        <td>7
        </td> 
    </tr> 
    <tr> 
        <th scope="row">ITALY / EUROPE
        </th> 
        <td>34
        </td> 
        <td>34.5
        </td> 
        <td>35
        </td>
        <td>35.5
        </td> 
        <td>36
        </td> 
        <td>36.5
        </td>
        <td>37
        </td> 
        <td>37.5
        </td>
        <td>38
        </td> 
        <td>38.5
        </td> 
        <td>39
        </td>
        <td>39.5
        </td> 
        <td>40
        </td> 
    </tr> 
    <tr> 
        <th scope="row">FRANCE
        </th> 
        <td>35
        </td> 
        <td>35.5
        </td> 
        <td>36
        </td>
        <td>36.5
        </td> 
        <td>37
        </td> 
        <td>37.5
        </td>
        <td>38
        </td> 
        <td>38.5
        </td>
        <td>39
        </td> 
        <td>39.5
        </td> 
        <td>40
        </td>
        <td>40.5
        </td> 
        <td>41
        </td>
    </tr>
</tbody> 
</table>
</div>


<div class="red-line shoe-boot"> </div>

<h2>Somi /Golve sizes</h2>
<div class="table-responsive golve">
  <table class="table table-striped"> 
    <tbody> 
      <tr> 
        <th scope="row">LADIES
        </th> 
        <td>XS
        </td> 
        <td>S
        </td> 
        <td>M
        </td>
        <td>L
        </td> 
        <td>XL
        </td>
    </tr> 
    <tr> 
        <th scope="row">SIZE (INCHES)
        </th> 
        <td>6
        </td> 
        <td>6.5
        </td> 
        <td>7-7.5
        </td>
        <td>8
        </td> 
        <td>8.5-9
        </td>
    </tr>
</tbody> 
</table>
</div>


<div class="red-line golve"> </div>


<h2>Somi /Belt sizes</h2>
<div class="table-responsive belt">
  <table class="table table-striped"> 
    <tbody> 
      <tr> 
        <th scope="row">US
        </th> 
        <td>00
        </td> 
        <td>0
        </td> 
        <td>2-4
        </td>
        <td>4-6
        </td> 
        <td>8
        </td>
        <td>10
        </td> 
        <td>12
        </td> 
        <td>14
        </td>
    </tr> 
    <tr> 
        <th scope="row">UK
        </th> 
        <td>4
        </td> 
        <td>6
        </td> 
        <td>8
        </td>
        <td>10
        </td> 
        <td>12
        </td>
        <td>14
        </td> 
        <td>16
        </td> 
        <td>18
        </td>
    </tr> 
    <tr> 
        <th scope="row">ITALY
        </th> 
        <td>36
        </td> 
        <td>38
        </td> 
        <td>40
        </td>
        <td>42
        </td> 
        <td>44
        </td>
        <td>46
        </td> 
        <td>48
        </td> 
        <td>50
        </td>
    </tr> 
    <tr> 
        <th scope="row">EUROPE
        </th> 
        <td>65
        </td> 
        <td>70
        </td> 
        <td>75
        </td>
        <td>80
        </td> 
        <td>85
        </td>
        <td>90
        </td> 
        <td>95
        </td> 
        <td>100
        </td>
    </tr>
</tbody> 
</table>
</div>

<div class="red-line belt"> </div>

<h2>Somi /Ring sizes</h2>
<div class="table-responsive ring">
  <table class="table table-striped"> 
    <tbody> 
      <tr> 
        <th scope="row">US
        </th> 
        <td>4
        </td> 
        <td>4 <sub>1/4</sub>
        </td> 
        <td>4 <sub>1/2</sub>
        </td>
        <td>4 <sub>3/4</sub>
        </td> 
        <td>5
        </td>
        <td>5 <sub>1/4</sub>
        </td> 
        <td>5 <sub>1/2</sub>
        </td> 
        <td>5 <sub>3/4</sub>
        </td>
        <td>6
        </td> 
        <td>6 <sub>1/4</sub>
        </td> 
        <td>6 <sub>1/2</sub>
        </td>
        <td>6 <sub>3/4</sub>
        </td> 
        <td>7
        </td>
        <td>7 <sub>1/4</sub>
        </td> 
        <td>7 <sub>1/2</sub>
        </td> 
        <td>7 <sub>3/4</sub>
        </td>
        <td>8
        </td>
        <td>8 <sub>1/4</sub>
        </td> 
        <td>8 <sub>1/2</sub>
        </td>
        <td>8 <sub>3/4</sub>
        </td> 
        <td>9
        </td>
    </tr> 
    <tr> 
        <th scope="row">UK
        </th> 
        <td>H <sub>1/2</sub>
        </td>
        <td>I
        </td> 
        <td>I <sub>1/2</sub>
        </td>
        <td>J
        </td> 
        <td>J <sub>1/2</sub>
        </td> 
        <td>K
        </td>
        <td>K <sub>1/2</sub>
        </td> 
        <td>L
        </td> 
        <td>L <sub>1/2</sub>
        </td>
        <td>M
        </td> 
        <td>M <sub>1/2</sub>
        </td>
        <td>N
        </td> 
        <td>N <sub>1/2</sub>
        </td> 
        <td>O
        </td>
        <td>O <sub>1/2</sub>
        </td>
        <td>P
        </td>
        <td>P <sub>1/2</sub>
        </td>
        <td>Q
        </td>
        <td>Q <sub>1/2</sub>
        </td>
        <td>R
        </td>
        <td>R <sub>1/2</sub>
        </td>
    </tr> 
    <tr> 
        <th scope="row">ITALY
        </th> 
        <td>8
        </td> 
        <td>8-9
        </td> 
        <td>9
        </td>
        <td>10
        </td> 
        <td>10-11
        </td>
        <td>11
        </td> 
        <td>12
        </td> 
        <td>12-13
        </td> 
        <td>13
        </td>
        <td>14
        </td> 
        <td>14-15
        </td> 
        <td>15
        </td> 
        <td>15-16
        </td>
        <td>16
        </td> 
        <td>17
        </td>
        <td>17-18
        </td> 
        <td>18
        </td> 
        <td>18-19
        </td>
        <td>19
        </td> 
        <td>19-20
        </td> 
        <td>20
        </td>
    </tr> 
    <tr> 
        <th scope="row">FRANCE
        </th> 
        <td>46
        </td> 
        <td>47
        </td> 
        <td>48
        </td>
        <td>49
        </td> 
        <td>49.5
        </td>
        <td>50
        </td> 
        <td>50.5
        </td> 
        <td>51
        </td> 
        <td>52
        </td> 
        <td>53
        </td>
        <td>53.5
        </td> 
        <td>54
        </td>
        <td>54.5
        </td> 
        <td>55
        </td> 
        <td>55.5
        </td> 
        <td>56
        </td> 
        <td>57
        </td>
        <td>58
        </td> 
        <td>58.5
        </td>
        <td>59
        </td> 
        <td>60
        </td>
    </tr>
</tbody> 
</table>
</div>

<div class="red-line ring"> </div>

<h2>Somi /Hat sizes</h2>
<div class="table-responsive hat">
  <table class="table table-striped"> 
    <tbody> 
      <tr> 
        <th scope="row">US
        </th> 
        <td>6 <sub>1/2</sub>
        </td> 
        <td>6 <sub>5/8</sub>
        </td> 
        <td>6 <sub>3/4</sub>
        </td>
        <td>6 <sub>7/8</sub>
        </td> 
        <td>7
        </td>
        <td>7 <sub>1/8</sub>
        </td> 
        <td>7 <sub>1/4</sub>
        </td> 
        <td>7 <sub>3/8</sub>
        </td>
        <td>7 <sub>1/2</sub>
        </td> 
        <td>7 <sub>5/8</sub>
        </td>
    </tr> 
    <tr> 
        <th scope="row">UK
        </th> 
        <td>6 <sub>3/8</sub>
        </td>
        <td>6 <sub>1/2</sub>
        </td> 
        <td>6 <sub>5/8</sub>
        </td>
        <td>6 <sub>3/4</sub>
        </td> 
        <td>7 <sub>3/8</sub>
        </td> 
        <td>7
        </td>
        <td>7 <sub>1/8</sub>
        </td>
        <td>7 <sub>1/4</sub>
        </td> 
        <td>7 <sub>3/8</sub>
        </td>
        <td>7 <sub>1/2</sub>
        </td>
    </tr> 
    <tr> 
        <th scope="row">EUROPE
        </th>
        <td>52
        </td>
        <td>53
        </td> 
        <td>54
        </td>
        <td>55
        </td> 
        <td>56
        </td> 
        <td>57
        </td>
        <td>58
        </td>
        <td>59
        </td> 
        <td>60
        </td>
        <td>61
        </td>
    </tr>
</tbody> 
</table>
</div>

<div class="black-line hat"> </div>

<div class="table-responsive hat2">
  <table class="table table-striped"> 
    <tbody> 
      <tr> 
          <th scope="row" class="sh-hidden">EURO</th> 
          <td>XS
          </td>
          <td>XS
          </td> 
          <td>S
          </td> 
          <td>S
          </td>
          <td>M
          </td> 
          <td>M
          </td> 
          <td>L
          </td>
          <td>L
          </td>
          <td>XL
          </td>
          <td>XL
          </td>
      </tr>
  </tbody> 
</table>
</div>

<img class="sign" src="{{ 'size_g_img2.jpg' | asset_img_url: '216x75' }}" alt="">
</div>

{% schema %}
{
    "name": "Footer",
    "settings": [
    {
    "type": "link_list",
    "id": "link_list",
    "label": "Menu",
    "default": "footer"
}
]
}
{% endschema %}
