<div id="maximage">
	<img src="{{ 'background1-lowres.jpg' | asset_img_url: '1920x1080' }}"  alt="" />
	<img src="{{ 'background3-lowres.jpg' | asset_img_url: '1920x1080' }}"  alt="" />
</div>


<div class="owl-carousel">
	<div class="owl-item-inner" style="background-image: url({{ 'slider_1_red.jpg' | asset_img_url: '600x600' }}); "><a href="https://somihan.london/collections/series-0001-wanting/products/series-0001-3"><img src="{{ 'slider_1_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
	<div class="owl-item-inner" style="background-image: url({{ 'slider_2_red.jpg' | asset_img_url: '600x600' }});"><a href="https://somihan.london/collections/series-0001-wanting/products/series-0001-12"><img src="{{ 'slider_2_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
	<div class="owl-item-inner" style="background-image: url({{ 'slider_3_red.jpg' | asset_img_url: '600x600' }});"><a href="https://somihan.london/collections/series-0001-wanting/products/series-0001-16"><img src="{{ 'slider_3_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
	<div class="owl-item-inner" style="background-image: url({{ 'slider_4_red.jpg' | asset_img_url: '600x600' }});"><a href="https://somihan.london/collections/series-0001-needing/products/series-0001-a-27"><img src="{{ 'slider_4_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
	<div class="owl-item-inner" style="background-image: url({{ 'slider_5_red.jpg' | asset_img_url: '600x600' }});"><a href="https://somihan.london/collections/series-0001-wanting/products/series-0001-9"><img src="{{ 'slider_5_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
	<div class="owl-item-inner" style="background-image: url({{ 'slider_6_red.jpg' | asset_img_url: '600x600' }});"><a href="https://somihan.london/collections/series-0001-wanting/products/series-0001-10"><img src="{{ 'slider_6_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
	<div class="owl-item-inner" style="background-image: url({{ 'slider_7_red.jpg' | asset_img_url: '600x600' }});"><a href="https://somihan.london/collections/series-0001-wanting/products/series-0001-5"><img src="{{ 'slider_7_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
	<div class="owl-item-inner" style="background-image: url({{ 'slider_8_red.jpg' | asset_img_url: '600x600' }});"><a href="https://somihan.london/collections/series-0001-wanting/products/series-0001-16"><img src="{{ 'slider_8_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
</div>