<div id="maximage">
	<img src="{{ 'background3-lowres.jpg' | asset_img_url: '1920x' }}"  alt="" />
	<img src="{{ 'background2-lowres.jpg' | asset_img_url: '1920x' }}"  alt="" />
	<img src="{{ 'background1-lowres.jpg' | asset_img_url: '1920x' }}"  alt="" />
	{% comment %}	<div>
		<img src="{{ 'kissing.jpg' | asset_img_url: '1920x' }}" alt="" />
		<video class="html5video" controls="controls" autoplay="autoplay" poster="{{ 'kissing.jpg' | asset_img_url: '320x' }}" width="320" height="240">
			<source src="{{ 'kissing.webm' | asset_url}}" type="video/webm" />
			<source src="{{ 'kissing.ogv' | asset_url}}" type="video/ogg" />
			<source src="{{ 'kissing.mp4' | asset_url}}" type="video/mp4" />
			Your browser does not support HTML5 videos.
		</video>
	</div>{% endcomment %}
</div>


<div class="owl-carousel">
	<div class="owl-item-inner" style="background-image: url({{ 'slider_1_red.jpg' | asset_img_url: '600x600' }}); "><a href="https://somihan.london/collections/series-0001-wanting/products/series-0001-3"><img src="{{ 'slider_1_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
	<div class="owl-item-inner" style="background-image: url({{ 'slider_2_red.jpg' | asset_img_url: '600x600' }});"><a href="https://somihan.london/collections/series-0001-wanting/products/series-0001-12"><img src="{{ 'slider_2_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
	<div class="owl-item-inner" style="background-image: url({{ 'slider_3_red.jpg' | asset_img_url: '600x600' }});"><a href="https://somihan.london/collections/series-0001-wanting/products/series-0001-16"><img src="{{ 'slider_3_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
	<div class="owl-item-inner" style="background-image: url({{ 'slider_4_red.jpg' | asset_img_url: '600x600' }});"><a href="https://somihan.london/collections/series-0001-needing/products/series-0001-a-27"><img src="{{ 'slider_4_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
	<div class="owl-item-inner" style="background-image: url({{ 'slider_5_red.jpg' | asset_img_url: '600x600' }});"><a href="https://somihan.london/collections/series-0001-wanting/products/series-0001-9"><img src="{{ 'slider_5_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
	<div class="owl-item-inner" style="background-image: url({{ 'slider_6_red.jpg' | asset_img_url: '600x600' }});"><a href="https://somihan.london/collections/series-0001-wanting/products/series-0001-10"><img src="{{ 'slider_6_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
	<div class="owl-item-inner" style="background-image: url({{ 'slider_7_red.jpg' | asset_img_url: '600x600' }});"><a href="https://somihan.london/collections/series-0001-wanting/products/series-0001-5"><img src="{{ 'slider_7_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
	<div class="owl-item-inner" style="background-image: url({{ 'slider_8_red.jpg' | asset_img_url: '600x600' }});"><a href="https://somihan.london/collections/series-0001-wanting/products/series-0001-16"><img src="{{ 'slider_8_BW.jpg' | asset_img_url: '600x600' }}" alt=""></a> </div>
</div>