
<div id="maximage">
	<img src="{{ 'background1-lowres.jpg' | asset_img_url: '1920x' }}"  alt="" />
{% comment %}	<div>
		<img src="{{ 'kissing.jpg' | asset_img_url: '1920x' }}" alt="" />
		<video class="html5video" controls="controls" autoplay="autoplay" poster="{{ 'kissing.jpg' | asset_img_url: '320x' }}" width="320" height="240">
			<source src="{{ 'kissing.webm' | asset_url}}" type="video/webm" />
			<source src="{{ 'kissing.ogv' | asset_url}}" type="video/ogg" />
			<source src="{{ 'kissing.mp4' | asset_url}}" type="video/mp4" />
			Your browser does not support HTML5 videos.
		</video>
	</div>{% endcomment %}
	<img src="{{ 'background2-lowres.jpg' | asset_img_url: '1920x' }}"  alt="" />
</div>


<div class="owl-carousel">
	<div class="owl-item-inner"><a href=""><img src="{{ 'slider_a.jpg' | asset_img_url: '700x700' }}" alt=""><div class="slider-overlay"></div></a> </div>
	<div class="owl-item-inner"><a href=""><img src="{{ 'slider_b.jpg' | asset_img_url: '700x700' }}" alt=""><div class="slider-overlay"></div></a> </div>
	<div class="owl-item-inner"><a href=""><img src="{{ 'slider_c.jpg' | asset_img_url: '700x700' }}" alt=""><div class="slider-overlay"></div></a> </div>
	<div class="owl-item-inner owl-item-color"><a href=""><img src="{{ 'slider_d.jpg' | asset_img_url: '700x700' }}" alt=""><div class="slider-overlay"></div></a> </div>
	<div class="owl-item-inner"><a href=""><img src="{{ 'slider_e.jpg' | asset_img_url: '700x700' }}" alt=""><div class="slider-overlay"></div></a> </div>
	<div class="owl-item-inner"><a href=""><img src="{{ 'slider_f.jpg' | asset_img_url: '700x700' }}" alt=""><div class="slider-overlay"></div></a> </div>
	<div class="owl-item-inner"><a href=""><img src="{{ 'slider_g.jpg' | asset_img_url: '700x700' }}" alt=""><div class="slider-overlay"></div></a> </div>
	<div class="owl-item-inner"><a href=""><img src="{{ 'slider_a.jpg' | asset_img_url: '700x700' }}" alt=""><div class="slider-overlay"></div></a> </div>
	<div class="owl-item-inner"><a href=""><img src="{{ 'slider_b.jpg' | asset_img_url: '700x700' }}" alt=""><div class="slider-overlay"></div></a> </div>
	<div class="owl-item-inner"><a href=""><img src="{{ 'slider_c.jpg' | asset_img_url: '700x700' }}" alt=""><div class="slider-overlay"></div></a> </div>
	<div class="owl-item-inner owl-item-color"><a href=""><img src="{{ 'slider_d.jpg' | asset_img_url: '700x700' }}" alt=""><div class="slider-overlay"></div></a> </div>
	<div class="owl-item-inner"><a href=""><img src="{{ 'slider_e.jpg' | asset_img_url: '700x700' }}" alt=""><div class="slider-overlay"></div></a> </div>
	<div class="owl-item-inner"><a href=""><img src="{{ 'slider_f.jpg' | asset_img_url: '700x700' }}" alt=""><div class="slider-overlay"></div></a> </div>
	<div class="owl-item-inner"><a href=""><img src="{{ 'slider_g.jpg' | asset_img_url: '700x700' }}" alt=""><div class="slider-overlay"></div></a> </div>
</div>